.tree {
  background-color: #fff;

  ul.item-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .item-list {
    max-height: 200px;
    overflow: auto;
    padding: 0;

    li {
      list-style: none;
      padding: 3px;

      a {
        text-decoration: none;
        color: #333;
      }

      &:hover {
        background: #f4f7f9;
      }
    }

    li.list-item {
      a > .icon {
        background: url("//i.l.inmobicdn.net/website/portal/kensho/0.347/css/images/SPRITE.png");
        background-repeat: no-repeat;
        background-position: -32px -866px;
        width: 19px;
        height: 19px;
        display: inline-block;
        margin-right: 5px;
      }

      &.active {
        & > a > .icon,
        & > div > a > .icon {
          background-position: -10px -866px;
        }
      }

      &.partial {
        & > a > .icon,
        & > div > a > .icon {
          background-position: -54px -866px;
        }
      }

      &.disabled {
        & > a {
          color: #ccc;
        }
      }
    }
  }

  .hitarea {
    background: url("//i.l.inmobicdn.net/website/portal/kensho/0.347/images/apps/campaigns/Sprite_Tree.png") no-repeat -64px -25px;
    display: inline-block;
    cursor: pointer;
    height: 16px;
    width: 16px;
  }

  .hitarea.collapsed {
    background-position: -80px -3px;
  }
}
