.tree {
  background-color: #fff;
}
.tree ul.item-list {
  margin: 0;
  padding: 0;
}
.tree ul.item-list li {
  list-style: none;
}
.tree ul.item-list li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree .item-list {
  max-height: 200px;
  overflow: auto;
  padding: 0;
}
.tree .item-list li {
  list-style: none;
  padding: 3px;
}
.tree .item-list li a {
  text-decoration: none;
  color: #333;
}
.tree .item-list li:hover {
  background: #f4f7f9;
}
.tree .item-list li.list-item a > .icon {
  background: url("//i.l.inmobicdn.net/website/portal/kensho/0.347/css/images/SPRITE.png");
  background-repeat: no-repeat;
  background-position: -32px -866px;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 5px;
}
.tree .item-list li.list-item.active > a > .icon,
.tree .item-list li.list-item.active > div > a > .icon {
  background-position: -10px -866px;
}
.tree .item-list li.list-item.partial > a > .icon,
.tree .item-list li.list-item.partial > div > a > .icon {
  background-position: -54px -866px;
}
.tree .item-list li.list-item.disabled > a {
  color: #ccc;
}
.tree .hitarea {
  background: url("//i.l.inmobicdn.net/website/portal/kensho/0.347/images/apps/campaigns/Sprite_Tree.png") no-repeat -64px -25px;
  display: inline-block;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.tree .hitarea.collapsed {
  background-position: -80px -3px;
}
